<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 包含springboot对logback日志的默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- 重写springboot框架 org/springframework/boot/logging/logback/file-appender.xml 配置 -->
    <appender name="TIME_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 对日志进行编码 -->
        <encoder>
            <!-- 日志记录行格式(格式化输出日志) -->
            <!-- ${FILE_LOG_PATTERN}、${LOG_PATH} = logging.file.path、${LOG_FILE} = logging.file.name 使用的默认配置(全局) -->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名 -->
            <!-- %i: 序号 -->
            <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 保留历史日志30天 -->
            <maxHistory>30</maxHistory>
            <!-- springboot默认情况下,日志文件为10MB时,会切分日志文件 -->
            <!-- 设置当日志文件为10MB的时候进行切分 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <!-- 日志输出方式 -->
        <!-- 控制台 -->
        <appender-ref ref="CONSOLE" />
        <!-- 日志文件 -->
        <appender-ref ref="TIME_FILE" />
    </root>
</configuration>

        <!--
            1、继承springboot logback设置(可以在application.yml或者application.properties设置logging.*属性)
            2、重写默认配置,设置日志文件大小在10MB时,按日期切分日志,切分后目录：

                blog.2020-02-12.0   10MB
                blog.2020-02-12.1   8MB
                blog.2020-02-13.0   6MB
                blog.2020-02-14.0   7MB
                ......
        -->